{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet in libero praesentium optio alias? Esse nemo provident adipisci doloribus cum quisquam nostrum voluptates error soluta, quia corrupti consequatur debitis atque? Ipsum error autem accusamus odio officia quaerat dolorum, enim qui commodi, temporibus officiis voluptatibus ullam magnam nisi ex deleniti tempore voluptas sequi? Ea, consectetur asperiores. Optio a modi nam tempora placeat et voluptates ab esse, similique, repudiandae non consequatur ratione eius autem adipisci cupiditate laudantium, illum explicabo enim. Non minus aspernatur aliquam exercitationem ratione. Sint maiores totam porro, nihil libero neque cupiditate molestias voluptas, perspiciatis modi doloremque officia maxime iste.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Singnin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>


{% endblock  %}